
#Ho{
	color:#000000;
}
#pe{
	color:#000000;
}
#hi{
	color:#000000;
}
#ma{
	color:#f1da36;
}
#ga{
	color:#000000;
}
#fo{
	color:#000000;
}

#body{
	transition: height .51s;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:url(../img/linial.png) no-repeat center center fixed;
	opacity:0.5;
	
	}
#intro{
	transition: height .51s;
	margin:0 auto;
	padding:0;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	width:1200px;
	height:75px;
	z-index:1;
	background-color:#ffffff;
	opacity:1;
	
}

.intro{

}
.intro a{
		 font-family: 'changaextrabold';
	margin:0 0 0 0;
	padding:0 0 0 0 0;


		width:1200px;
	height:75px;
	color:#000000;
	text-align:center;
	border:1px solid transparent;
	background:#ffffff;
	font-size:20px;
}
#introOP{ display:block;}
#introEND{ display:none;}

#introEND:hover, #introOP:hover{ color:#f1da36;}


#intro p{
	margin:0 auto;
	width:600px;
	height:200px;
	padding:10px;
	font-size:0;
	
}


#acc{
	box-sizing:border-box;
	margin:0 auto;
	padding:0;
	width:1200px;
	height:100px;
	border:1px solid transparent;
}
#acc ol{
	width:1200px;
	height:100px;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:1px solid transparent;
}
#acc li{
	border:1px solid transition;
	box-sizing:border-box;
	display:inline-block;
	margin::0;
	padding:0;
	width:20%;
	height:100px;
}
#acc a{
	color:#000000;
	text-align:center;
	border:1px solid transition;
	box-sizing:border-box;
	margin::0;
	padding:20px 0 0 0;
	width:100%;
	height:100px;
	display:block;
	font-family: 'changasemibold';
	font-size:20px;
	text-decoration:none;
	
}
#acc a:hover{
	color:#f1da36;
}
#zero{
	margin:0 auto;
	padding:0 0 0 0;
	width:1200px;
	height:2100px;
	position:relative;
	border:1px solid transparent;
	box-sizing:border-box;
}

.tablasss{
	margin:0 auto;
	padding:0 0 0 0;
	width:100%;
	border:1px solid transparent;
	position:absolute;
	background-color:transparent;
	font-size:20px;
}
table{
	width:100%;
	border-collapse: collapse;
	
}

tr{
	
	margin:0px;
	padding:0px;
	border:1px solid transparent;
	background-color:#ffffff;
}
th{
	width:30%;
	margin:0;
	padding:0px;
	border:1px solid transparent;
	background-color:#ffffff;
}

td{
	width:70%;
	height:200px;
	margin:0;
	padding:0;
	border:1px solid transparent;
	background-color:#ffffff;
	
}
td>p{
	margin:25px;
}
#thaparte{
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:1px solid transparent;
}
#fac{
	
	display:block;}
#pos{
	
	display:none;}
#cat{
	
	display:none;}
#esc{
	
	display:none;}

#pp {
	
	display:none;
	color:#ffffff;
	
	padding:0 0 600px 0;
	background:url(../img/Headon.jpg) no-repeat bottom center #000000;
	
}
#pp h3, caption{
		font-family: 'changaextrabold';
	font-size:30px;
	padding:10px;
	color:#f1da36;
	margin:30px 0 50px 0;
	text-align:center;
	background-color:#ffffff;
}
#pp p{
	width:1000px;
	margin:0 5%;
	padding:10px;
}
#pp p:nth-child(4){
	margin-top:5px;
	
	padding:10px 35px 40px 35px;



}
#pp p:nth-child(2){
	
	margin-bottom:5px;
	padding:30px 35px 0px 20px;



}
#pp p:nth-child(3){
	margin-bottom:5px;
	margin-top:5px;
	padding:10px 35px 15px 35px;



}
































